.defaultTr {
    height: 100px;
}

.badTd {
    width: 500px;
    vertical-align: top;
    padding: 5px;
    background-color: #FF5959
}

.defaultTd {
    width: 500px;
    vertical-align: top;
    padding: 5px;
}

.todayTd {
    width: 500px;
    vertical-align: top;
    padding: 5px;
    background-color: gold;
}

.notThisMonthTd {
    width: 500px;
    vertical-align: top;
    padding: 5px;
    background-color: grey
}

.monthSelect-Wrapper {
    padding: 10px;
    height: 100px;
    vertical-align: center;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
}

.leftRightButton {
    height: 70px;
    width: 70px;
    border: 1px solid grey;
    font-size: 30px
}

